@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat';
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;

    background-color: #222831;
}

#header{
    width: 100%;
    height: 80px;

    border-bottom: 4px solid #313742; 

    #menu-toolbar{
        height: 100%;

        ul{
            display: flex;
            justify-content: center;
            justify-items: end;
            height: 100%;

            .toolbar-contents{
                margin: 0 10px;
                display: flex;

                li{
                    cursor: pointer;
                    a{
                        color: #dbdada;
                        transition: 80ms linear;
                    }
                }
            }

            .toolbar-contents.first{
                position: relative;

                li:nth-child(1) a{
                    color: #29a19c;

                    animation-name: initial-link;
                    animation-duration: 500ms;
                }
                
                li{
                    width: 100px;
                    text-align: center;

                    padding: 0 10px;
                    padding-top: 40px;
                }

                #bar{
                    width: 100px;
                    height: 4px;
                    bottom: -4px;
                    position: absolute;
                    
                    background-color: #29a19c;
                    left: 0;
                    transition: 120ms ease-in-out;

                    animation-name: initial-bar;
                    animation-duration: 300ms;
                    animation-fill-mode: backwards;
                }
            }
            
            .toolbar-contents.second{
                .open-dropdown{                    
                    color: #dbdada;
                    background-color: #29a19c;
                    border-radius: 6px;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                    padding: 10px;
                    margin: 28px 5px 0 5px;
                    cursor: pointer;
                    border: none;
                    font: inherit;
                    cursor: pointer;
                    outline: inherit;

                    span{
                        display: inline-block;
                        transition: 200ms ease-in-out;
                    }

                    &:hover{
                        transition: 90ms ease-in-out;   
                        background-color: #1f7471;
                    }

                    &:active {
                        transform: scale(0.9);
                    }
                }

                .dropdown-menu{
                    ul{
                        position: absolute;
                        z-index: 100;
                        flex-direction: column;
                        margin: 5px 10px;
                        border-radius: 6px;
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                        overflow: hidden;
                        display: none;
                        animation: show-dropdown 180ms ease alternate forwards;
                        
                        transform-origin: top left;
                        background-color: #29a19c;
                        
                        li{
                            padding: 10px 20px;
                            transition: 90ms ease-in-out;
                        }
    
                        li:hover{
                            background-color: #1f7471;
                        }
                    }
                }

                .dropdown-menu.genero ul{
                    height: 355px;
                }

                .dropdown-menu.ordernar ul{
                    height: 78px;
                }


                .open-dropdown.ordernar{
                    background-color: #29a19c;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                    cursor: pointer;

                    &:hover{
                        transition: 90ms ease-in-out;   
                        background-color: #1f7471;
                    }
                }
            }

        }
    }
}

// .active-dropdown{
//     display: ;
// }

/*------------------- animações -------------------*/
@keyframes initial-bar{
    from{
        opacity: 0;
        transform: translateX(-100vw);
    }to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes initial-link{
    from{
        color: #dbdada;
    }to{
        color: #29a19c;
    }
}

@keyframes show-dropdown{
    0% {
       transform: scale(0)
   }
   80% {
       transform: scale(1.1)
   }
   100% {
       transform: scale(1)
   }
}

